body {
	border: 2px solid DarkSlateBlue;
}
ul {
	background-color: LemonChiffon;
	color: MediumPurple;
}
ol {
	background-color: DarkSlateBlue;
	color: LightGray;
}
li {
	background-color: MediumPurple;
	color: LightSalmon;
}